# Docker Compose configuration for EVENTUAL consistency mode (Gossip)
# Usage: docker compose -f docker-compose.eventual.yml up --build
#
# This file is identical to docker-compose.yml except MODE=EVENTUAL
# Use this to test your Gossip implementation

services:
  # TODO: Define services node1, node2, node3
  # HINT: Use the Dockerfile you created (build: .)
  # HINT: Map ports 5001:5000, 5002:5000, etc.
  # HINT: Set environment variables NODE_ID, MODE, PEERS
  # 
  # Example structure for one node:
  node1:
    build: .
    environment:
      - NODE_ID=node1
      - MODE=EVENTUAL
      - PEERS=http://node2:5000,http://node3:5000
    ports:
      - "5001:5000"
  
  node2:
    build: .
    environment:
      - NODE_ID=node2
      - MODE=EVENTUAL
      - PEERS=http://node1:5000,http://node3:5000
    ports:
      - "5002:5000"

  node3:
    build: .
    environment:
      - NODE_ID=node3
      - MODE=EVENTUAL
      - PEERS=http://node1:5000,http://node2:5000
    ports:
      - "5003:5000"