# Docker Compose file for CS496 Week 3 Chat Service Cluster
# Note: The 'version' key is obsolete in Docker Compose V2 and can be omitted

services:
  # TODO: Define services node1, node2, node3
  # HINT: Use the Dockerfile you created (build: .)
  # HINT: Map ports 5001:5000, 5002:5000, etc.
  # HINT: Set environment variables NODE_ID, MODE, PEERS
  # 
  # Example structure for one node:
  node1:
    build: .
    environment:
      - NODE_ID=node1
      - MODE=STRONG
      - PEERS=http://node2:5000,http://node3:5000
    ports:
      - "5001:5000"
  
  node2:
    build: .
    environment:
      - NODE_ID=node2
      - MODE=STRONG
      - PEERS=http://node1:5000,http://node3:5000
    ports:
      - "5002:5000"

  node3:
    build: .
    environment:
      - NODE_ID=node3
      - MODE=STRONG
      - PEERS=http://node1:5000,http://node2:5000
    ports:
      - "5003:5000"

